@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&display=swap');
* {
  font-family: 'Hahmlet', serif;
}
.bg {
  width: 360px;
  background-image : url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bg-grid.png");
}

.title {
  width: 180px;
  text-align: center;
  color: white;
  background-color: tomato;
  font-size: 24px;
  padding: 4px 16px;
  border-radius: 8px;
}

.msg {
  font-weight: bold;
  color: black;
}

.bucket {
  width: 160px;
  height: 160px;
}

.img1 {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-red.png");
  background-size: cover;
  background-position: center;
}

.img2 {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-lightred.png");
  background-size: cover;
  background-position: center;
}